<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lifengming.multi.datasource.mapper.UserInfoMapper">
    <resultMap id="base_result_map" type="com.lifengming.multi.datasource.domain.UserInfo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
    </resultMap>

    <sql id="base_sql">
        id,name,email;
    </sql>

    <select id="listAll" resultMap="base_result_map">
        select
        <include refid="base_sql"/>
        from user_info
    </select>

    <insert id="insert" parameterType="com.lifengming.multi.datasource.domain.UserInfo">
        insert into user_info
            (name,email)
        value
            (#{name},#{email})
    </insert>
</mapper>